body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0fff2;
            color: #333;
        }
        
        nav {
            background-color: #2bf156;
            padding: 5px;
            text-align: center;
        }
        
        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            padding: 5px 10px;
        }
        
        nav a:hover {
            background-color: #64f63b;
            border-radius: 3px;
        }
        
        header {
            background-color: #91c3ba;
            color: white;
            text-align: center;
            padding: 50px 30px;
         }
        
        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        
        h1, h2 {
            color: #96d839;
        }
        
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin: 10px 0;
            border-radius: 5px;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 15px 0;
        }
        
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        
        th {
            background-color: #1fd637;
            color: white;
        }
        
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        input, select, textarea {
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        
        .buttons {
            display: flex;
            gap: 10px;
            margin-top: 15px;
        }
        
        button {
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            flex: 1;
        }
        
        .submit-btn {
            background-color: hsl(122, 93%, 46%);
            color: white;
        }
        
        .reset-btn {
            background-color: rgb(11, 103, 74);
            color: white;
        }
        
        footer {
            background-color: rgb(11, 103, 69);
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 30px;
        }
    